<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanxin.hwjy.infrastructure.repository.mapper.CartEventLogMapper">

    <resultMap type="com.duanxin.hwjy.infrastructure.repository.po.CartEventLogPO" id="CartEventLogMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="cartId" column="CART_ID" jdbcType="INTEGER"/>
        <result property="productInfo" column="PRODUCT_INFO" jdbcType="VARCHAR"/>
        <result property="operateType" column="OPERATE_TYPE" jdbcType="INTEGER"/>
        <result property="operateQuantity" column="OPERATE_QUANTITY" jdbcType="INTEGER"/>
        <result property="cdate" column="CDATE" jdbcType="TIMESTAMP"/>
        <result property="creator" column="CREATOR" jdbcType="VARCHAR"/>
        <result property="edate" column="EDATE" jdbcType="TIMESTAMP"/>
        <result property="editor" column="EDITOR" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="cartEventLog">
        ID
        , CART_ID, PRODUCT_INFO, OPERATE_TYPE, OPERATE_QUANTITY, CDATE, CREATOR, EDATE, EDITOR
    </sql>

    <insert id="insert" parameterType="com.duanxin.hwjy.infrastructure.repository.po.CartEventLogPO"
            useGeneratedKeys="true" keyProperty="id">
        insert into T_CART_EVENT_LOG(CART_ID, PRODUCT_INFO, OPERATE_TYPE, OPERATE_QUANTITY,
                                     CDATE, CREATOR, EDATE, EDITOR)
        values (#{po.cartId}, #{po.productInfo}, #{po.operateType}, #{po.operateQuantity},
                #{po.cdate}, #{po.creator}, #{po.edate}, #{po.editor})
    </insert>

</mapper>