<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanxin.hwjy.infrastructure.repository.mapper.IntegralLogMapper">

    <resultMap type="com.duanxin.hwjy.infrastructure.repository.po.IntegralLogPO" id="TIntegralLogMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="userId" column="USER_ID" jdbcType="INTEGER"/>
        <result property="integralAccountSn" column="INTEGRAL_ACCOUNT_SN" jdbcType="VARCHAR"/>
        <result property="operateType" column="OPERATE_TYPE" jdbcType="VARCHAR"/>
        <result property="integralOperateChannel" column="INTEGER_OPERATE_CHANNEL" jdbcType="VARCHAR"/>
        <result property="integralNumber" column="INTEGRAL_NUMBER" jdbcType="NUMERIC"/>
        <result property="operateParam" column="OPERATE_PARAM" jdbcType="VARCHAR"/>
        <result property="cdate" column="CDATE" jdbcType="TIMESTAMP"/>
        <result property="creator" column="CREATOR" jdbcType="VARCHAR"/>
        <result property="edate" column="EDATE" jdbcType="TIMESTAMP"/>
        <result property="editor" column="EDITOR" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="integralLog">
        ID, USER_ID, INTEGRAL_ACCOUNT_SN, OPERATE_TYPE, INTEGRAL_OPERATE_CHANNEL,
        INTEGRAL_NUMBER, OPERATE_PARAM, CDATE, CREATOR, EDATE, EDITOR
    </sql>
    <insert id="insert" parameterType="com.duanxin.hwjy.infrastructure.repository.po.IntegralLogPO"
    useGeneratedKeys="true" keyProperty="id">
        insert into T_INTEGRAL_LOG(USER_ID, INTEGRAL_ACCOUNT_SN, OPERATE_TYPE, INTEGRAL_OPERATE_CHANNEL,
        INTEGRAL_NUMBER, OPERATE_PARAM, CDATE, CREATOR, EDATE, EDITOR)
        values(#{po.userId}, #{po.integralAccountSn}, #{po.operateType}, #{po.integralOperateChannel},
        #{po.integralNumber}, #{po.operateParam}, #{po.cdate}, #{po.creator}, #{po.edate}, #{po.editor})
    </insert>
    <select id="checkIntegralValidity" resultMap="TIntegralLogMap">
        select <include refid="integralLog"/>
        from T_INTEGRAL_LOG
        where USER_ID = #{userId} and
        OPERATE_TYPE = #{operateType} and
        INTEGRAL_OPERATE_CHANNEL = #{integralOperateChannel} and
        OPERATE_PARAM = #{operateParam}
    </select>


</mapper>