<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanxin.hwjy.infrastructure.repository.mapper.ProductStockMapper">

    <resultMap type="com.duanxin.hwjy.infrastructure.repository.po.ProductStockPO" id="ProductStockMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="productId" column="PRODUCT_ID" jdbcType="INTEGER"/>
        <result property="specificationId" column="SPECIFICATION_ID" jdbcType="INTEGER"/>
        <result property="attributeId" column="ATTRIBUTE_ID" jdbcType="INTEGER"/>
        <result property="stock" column="STOCK" jdbcType="INTEGER"/>
        <result property="cdate" column="CDATE" jdbcType="TIMESTAMP"/>
        <result property="creator" column="CREATOR" jdbcType="VARCHAR"/>
        <result property="edate" column="EDATE" jdbcType="TIMESTAMP"/>
        <result property="editor" column="EDITOR" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="stock">
        ID
        , PRODUCT_ID, SPECIFICATION_ID, ATTRIBUTE_ID, STOCK, CDATE, CREATOR, EDATE, EDITOR
    </sql>

    <select id="selectByPid" resultMap="ProductStockMap">
        select
        <include refid="stock"/>
        from T_PRODUCT_STOCK
        where PRODUCT_ID = #{pid}
    </select>

</mapper>