<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanxin.hwjy.infrastructure.repository.mapper.ProductSpecificationMapper">

    <resultMap type="com.duanxin.hwjy.infrastructure.repository.po.ProductSpecificationPO" id="ProductSpecificationMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="productId" column="PRODUCT_ID" jdbcType="INTEGER"/>
        <result property="specification" column="SPECIFICATION" jdbcType="VARCHAR"/>
        <result property="value" column="VALUE" jdbcType="VARCHAR"/>
        <result property="gallery" column="GALLERY" jdbcType="VARCHAR"/>
        <result property="deleted" column="DELETED" jdbcType="INTEGER"/>
        <result property="cdate" column="CDATE" jdbcType="TIMESTAMP"/>
        <result property="creator" column="CREATOR" jdbcType="VARCHAR"/>
        <result property="edate" column="EDATE" jdbcType="TIMESTAMP"/>
        <result property="editor" column="EDITOR" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="specification">
        ID
        , PRODUCT_ID, SPECIFICATION, VALUE, GALLERY, DELETED, CDATE, CREATOR, EDATE, EDITOR
    </sql>

    <insert id="insert" parameterType="com.duanxin.hwjy.infrastructure.repository.po.ProductSpecificationPO"
            useGeneratedKeys="true" keyProperty="id">
        insert into T_PRODUCT_SPECIFICATION(PRODUCT_ID, SPECIFICATION, VALUE, GALLERY,
                                            DELETED, CDATE, CREATOR, EDATE, EDITOR)
        values (#{po.productId}, #{po.specification}, #{po.value}, #{po.gallery},
                #{po.deleted}, #{po.cdate}, #{po.creator}, #{po.edate}, #{po.editor})
    </insert>

    <select id="selectByPid" resultMap="ProductSpecificationMap">
        select
        <include refid="specification"/>
        from T_PRODUCT_SPECIFICATION
        where PRODUCT_ID = #{pid}
    </select>

</mapper>