<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanxin.hwjy.infrastructure.repository.mapper.UserOrderMapper">

    <resultMap type="com.duanxin.hwjy.infrastructure.repository.po.UserOrderPO" id="UserOrderMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="userId" column="USER_ID" jdbcType="INTEGER"/>
        <result property="orderSn" column="ORDER_SN" jdbcType="VARCHAR"/>
        <result property="totalPrice" column="TOTAL_PRICE" jdbcType="NUMERIC"/>
        <result property="totalQuantity" column="TOTAL_QUANTITY" jdbcType="INTEGER"/>
        <result property="orderStatus" column="ORDER_STATUS" jdbcType="VARCHAR"/>
        <result property="addressInfo" column="ADDRESS_INFO" jdbcType="VARCHAR"/>
        <result property="payInfo" column="PAY_INFO" jdbcType="VARCHAR"/>
        <result property="shipInfo" column="SHIP_INFO" jdbcType="VARCHAR"/>
        <result property="refundTime" column="REFUND_TIME" jdbcType="TIMESTAMP"/>
        <result property="confirmTime" column="CONFIRM_TIME" jdbcType="TIMESTAMP"/>
        <result property="orderCloseTime" column="ORDER_CLOSE_TIME" jdbcType="TIMESTAMP"/>
        <result property="orderDetails" column="ORDER_DETAILS" jdbcType="VARCHAR"/>
        <result property="cdate" column="CDATE" jdbcType="TIMESTAMP"/>
        <result property="creator" column="CREATOR" jdbcType="VARCHAR"/>
        <result property="edate" column="EDATE" jdbcType="TIMESTAMP"/>
        <result property="editor" column="EDITOR" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="userOrder">
        ID
        , USER_ID, ORDER_SN, TOTAL_PRICE, TOTAL_QUANTITY, ORDER_STATUS,
        ADDRESS_INFO, PAY_INFO, SHIP_INFO, REFUND_TIME, CONFIRM_TIME,
        ORDER_CLOSE_TIME, ORDER_DETAILS, CDATE, CREATOR, EDATE, EDITOR
    </sql>

    <insert id="insert" parameterType="com.duanxin.hwjy.infrastructure.repository.po.UserOrderPO"
            useGeneratedKeys="true" keyProperty="id">
        insert into T_USER_ORDER(USER_ID, ORDER_SN, TOTAL_PRICE, TOTAL_QUANTITY, ORDER_STATUS,
                                 ADDRESS_INFO, PAY_INFO, SHIP_INFO, REFUND_TIME, CONFIRM_TIME,
                                 ORDER_CLOSE_TIME, ORDER_DETAILS, CDATE, CREATOR, EDATE, EDITOR)
        values (#{po.userId}, #{po.orderSn}, #{po.totalPrice}, #{po.totalQuantity}, #{po.orderStatus},
                #{po.addressInfo}, #{po.payInfo}, #{po.shipInfo}, #{po.refundTime}, #{po.confirmTime},
                #{po.orderCloseTime}, #{po.orderDetails}, #{po.cdate}, #{po.creator}, #{po.edate}, #{po.editor})
    </insert>

    <select id="selectOrderCounts" resultType="com.duanxin.hwjy.infrastructure.repository.OrderCountsDto">
        select COUNT(o.ID)                                                             AS allCount,
               COUNT(CASE WHEN o.ORDER_STATUS = 'UNPAY' THEN o.ID ELSE NULL END)       AS unPay,
               COUNT(CASE WHEN o.ORDER_STATUS = 'PADYED' THEN o.ID ELSE NULL END)      AS payed,
               COUNT(CASE WHEN o.ORDER_STATUS = 'CONSIGNMENT' THEN o.ID ELSE NULL END) AS consignment,
               COUNT(CASE WHEN o.ORDER_STATUS = 'CONFIRM' THEN o.ID ELSE NULL END)     AS confirm,
               COUNT(CASE WHEN o.ORDER_STATUS = 'SUCCESS' THEN o.ID ELSE NULL END)     AS success,
               COUNT(CASE WHEN o.ORDER_STATUS = 'CLOSE' THEN o.ID ELSE NULL END)       AS `close`
        FROM T_USER_ORDER o
        where o.USER_ID = #{userId}
    </select>

    <select id="selectAll" resultMap="UserOrderMap">
        select
        <include refid="userOrder"/>
        from T_USER_ORDER
        where USER_ID = #{userId}
        order by CDATE
        limit #{pageNum}, #{pageSize}
    </select>

    <select id="selectByStatus" resultMap="UserOrderMap">
        select
        <include refid="userOrder"/>
        from T_USER_ORDER
        where USER_ID = #{userId} and ORDER_STATUS = #{orderStatus}
        order by CDATE limit #{pageNum}, #{pageSize}
    </select>

</mapper>