<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanxin.hwjy.infrastructure.repository.mapper.UserAddressMapper">

    <resultMap type="com.duanxin.hwjy.infrastructure.repository.po.UserAddressPO" id="TUserAddressMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="name" column="NAME" jdbcType="VARCHAR"/>
        <result property="userId" column="USER_ID" jdbcType="INTEGER"/>
        <result property="province" column="PROVINCE" jdbcType="VARCHAR"/>
        <result property="city" column="CITY" jdbcType="VARCHAR"/>
        <result property="county" column="COUNTY" jdbcType="VARCHAR"/>
        <result property="addressDetails" column="ADDRESS_DETAILS" jdbcType="VARCHAR"/>
        <result property="postalCode" column="POSTAL_CODE" jdbcType="VARCHAR"/>
        <result property="acquiescence" column="ACQUIESCENCE" jdbcType="INTEGER"/>
        <result property="phone" column="PHONE" jdbcType="VARCHAR"/>
        <result property="deleted" column="DELETED" jdbcType="INTEGER"/>
        <result property="cdate" column="CDATE" jdbcType="TIMESTAMP"/>
        <result property="creator" column="CREATOR" jdbcType="VARCHAR"/>
        <result property="edate" column="EDATE" jdbcType="TIMESTAMP"/>
        <result property="editor" column="EDITOR" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="userAddress">
        ID, NAME, USER_ID, PROVINCE, CITY, COUNTY, ADDRESS_DETAILS, POSTAL_CODE, ACQUIESCENCE,
         PHONE, DELETED, CDATE, CREATOR, EDATE, EDITOR
    </sql>

    <insert id="insert" parameterType="com.duanxin.hwjy.infrastructure.repository.po.UserAddressPO"
            useGeneratedKeys="true" keyProperty="id">
        insert into T_USER_ADDRESS(NAME, USER_ID, PROVINCE, CITY, COUNTY, ADDRESS_DETAILS, POSTAL_CODE, ACQUIESCENCE,
         PHONE, DELETED, CDATE, CREATOR, EDATE, EDITOR)
         values(#{userAddress.name}, #{userAddress.userId}, #{userAddress.province},
         #{userAddress.city}, #{userAddress.county}, #{userAddress.addressDetails},
         #{userAddress.postalCode}, #{userAddress.acquiescence}, #{userAddress.phone},
         #{userAddress.deleted}, #{userAddress.cdate}, #{userAddress.creator},
         #{userAddress.edate}, #{userAddress.editor})
    </insert>

    <update id="updateAcquiescence">
        update T_USER_ADDRESS
        set ACQUIESCENCE = #{userAddress.acquiescence}
        where ID = #{userAddress.id}
    </update>

    <update id="updateAddress">
        update T_USER_ADDRESS
        set
        <if test="userAddress.name != null">
            `NAME` = #{userAddress.name},
        </if>
        <if test="userAddress.province != null">
            PROVINCE = #{userAddress.province},
        </if>
        <if test="userAddress.city != null">
            CITY = #{userAddress.city},
        </if>
        <if test="userAddress.county != null">
            COUNTY = #{userAddress.county},
        </if>
        <if test="userAddress.addressDetails != null">
            ADDRESS_DETAILS = #{userAddress.addressDetails},
        </if>
        <if test="userAddress.postalCode != null">
            POSTAL_CODE = #{userAddress.postalCode},
        </if>
        <if test="userAddress.phone != null">
            PHONE = #{userAddress.phone},
        </if>
        <if test="userAddress.edate != null">
            EDATE = #{userAddress.edate},
        </if>
        <if test="userAddress.editor != null">
            EDITOR = #{userAddress.editor}
        </if>
    </update>

    <select id="selectByUserId" resultMap="TUserAddressMap">
        select <include refid="userAddress"/>
        from T_USER_ADDRESS
        where USER_ID = #{userId}
    </select>

    <select id="selectById" resultMap="TUserAddressMap">
        select <include refid="userAddress"/>
        from T_USER_ADDRESS
        where ID = #{id}
    </select>
</mapper>