<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanxin.hwjy.infrastructure.repository.mapper.UserMapper">

    <resultMap type="com.duanxin.hwjy.infrastructure.repository.po.UserPO" id="TUserMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="phone" column="PHONE" jdbcType="VARCHAR"/>
        <result property="userImgUrl" column="USER_IMG_URL" jdbcType="VARCHAR"/>
        <result property="integralAccountSn" column="INTEGRAL_ACCOUNT_SN" jdbcType="VARCHAR"/>
        <result property="nickname" column="NICKNAME" jdbcType="VARCHAR"/>
        <result property="wxOpenid" column="WX_OPENID" jdbcType="VARCHAR"/>
        <result property="wxSessionKey" column="WX_SESSION_KEY" jdbcType="VARCHAR"/>
        <result property="status" column="STATUS" jdbcType="INTEGER"/>
        <result property="deleted" column="DELETED" jdbcType="INTEGER"/>
        <result property="cdate" column="CDATE" jdbcType="TIMESTAMP"/>
        <result property="creator" column="CREATOR" jdbcType="VARCHAR"/>
        <result property="edate" column="EDATE" jdbcType="TIMESTAMP"/>
        <result property="editor" column="EDITOR" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="user">
        ID, PHONE, USER_IMG_URL, NICKNAME, INTEGRAL_ACCOUNT_SN, WX_OPENID, WX_SESSION_KEY, STATUS, DELETED, CDATE, CREATOR, EDATE, EDITOR
    </sql>

    <insert id="insert" parameterType="com.duanxin.hwjy.infrastructure.repository.po.UserPO"
            keyProperty="id" useGeneratedKeys="true">
        insert into T_USER(PHONE, USER_IMG_URL, NICKNAME, INTEGRAL_ACCOUNT_SN, WX_OPENID, WX_SESSION_KEY,
         STATUS, DELETED, CDATE, CREATOR, EDATE, EDITOR)
         values(#{user.phone}, #{user.userImgUrl}, #{user.nickname}, #{user.integralAccountSn}, #{user.wxOpenid}, #{user.wxSessionKey},
         #{user.status}, #{user.deleted}, #{user.cdate}, #{user.creator}, #{user.edate}, #{user.editor})
    </insert>

    <update id="updateSessionKey">
        update T_USER
        set WX_SESSION_KEY = #{wxSessionKey}
        where ID = #{id}
    </update>

    <select id="selectByOpenId" resultMap="TUserMap">
        select <include refid="user"/>
        from T_USER
        where WX_OPENID = #{openid}
    </select>

    <select id="selectById" resultMap="TUserMap">
        select <include refid="user"/>
        from T_USER
        where ID = #{userId}
    </select>
</mapper>